body{
    background-color: #f7f7f7;
}
.comWidth{margin: 0 auto;width: 1000px}
.film_body{
    border: 1px solid #DDD;
    margin: 20px auto;
    background-color: #FFF;
}
.film_position{
    height: 32px;
    line-height: 32px;
    font-size: 0px;
}
.film_position a,
.film_position span,
.film_position em{
    font-size: 13px;
    margin-right: 2px;
    font-style: normal;
    color: grey;
    font-family: "Microsoft YaHei", "微软雅黑";
}
.film_position a:hover{
    display: inline-block;
    color: darkred;
    text-decoration: underline;
}

.filmHeader_img{
    padding: 15px;
    width: 320px;
    border: 1px solid #DDD;
    text-align: center;
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: -1px;

}

.filmHeader_img img{
    width: 320px;
    /*border-radius: 5px;*/

}

.filmHeader_info{
    padding-left: 10px;
    width: 638px;
}
.filmHeader_info_top{
    width: 638px;
}

.title_year{
    margin-top: 50px;
    border-bottom: 1px solid #DDD;
    width: 570px;
    font-size: 22px;
    color: #333;
    line-height: 32px;
}



.title_year .title{
    font-weight: bold;
    font-family: "Microsoft YaHei", "微软雅黑";
}

.title_year .year{
    font-family: "Verdana";
    font-weight: normal;
}



.pg_time_type{
    font-family: "Verdana";
    font-size: 14px;
    width: 680px;


}
.pg_time_type dt{
    width: 100px;
    float: left;
    padding: 1px;
    height: 25px;
    line-height: 25px;
    text-align: right;
    padding-right: 10px;
}

.pg_time_type dd{
    float: left;
    width: 527px;
}
.pg_time_type ul{
    width: 500px;
}

.pg_time_type ul li{
    padding: 1px;
    height: 25px;
    line-height: 25px;
    float: left;
    display: inline-block;
}
.pg_time_type ul li a{
    color: #1d7ad9;
}
.pg_time_type ul li i{

    padding:0 3px;
    color: #CCC;
}

.rate{
    margin-top: 30px;
    font-family: Verdana;
    background: url("../img/bg.png") -180px -71px no-repeat;
    height: 66px;
    line-height: 66px;
    width: 66px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
}



.hr_15{

    height: 15px;
    border-bottom: 1px solid #CCC;
}




.filmBody_story p{
    padding: 5px 50px;
    font-size: 14px;
    line-height: 24px;
    text-indent: 2em;
}

.filmBody_left_title{
    height: 25px;
    width: 800px;
    background: url("../img/titleEditLine.png") repeat scroll 0 center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.filmBody_left_title h3{
    font-size: 24px;
    line-height: 25px;
    font-family: "Microsoft YaHei", "微软雅黑";
    padding-left: 10px;
    width: 100px;
    color: #559ee7;
    float: left;
    font-weight: normal;
    background: none repeat scroll 0 0 #fff;

}

.filmBody_left_title .titleblock{
    float: left;
    background-color: #4f9cee;
    height: 25px;
    width: 10px;
    display: inline-block;
    margin-left: -5px;
}




.filmBody_right_title .titleblock{
    float: right;
    background-color: #4f9cee;
    height: 25px;
    width: 10px;
    display: inline-block;
    margin-right: -5px;
}


.filmBody_right_title{
    height: 25px;
    width: 100%;
    background: url("../img/titleEditLine.png") repeat scroll 0 center;
    margin-top: 20px;
    margin-bottom: 10px;

}

.filmBody_right_title h3{
    font-size: 24px;
    line-height: 25px;
    font-family: "Microsoft YaHei", "微软雅黑";
    padding-left: 10px;
    width: 100px;
    color: #559ee7;
    float: right;
    font-weight: normal;
    background: none repeat scroll 0 0 #fff;

}












.Recently_Viewed h3{
    padding-top: 5px;
    padding-left: 5px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}

.Recently_Viewed{
    background-color: #f7f7f7;
    border-bottom: 1px solid #CCC;
    margin-bottom: -1px;

}
.Recently_Viewed img{
    border: 1px solid #ccc;
    height: 98px;


}
.Recently_Viewed ul{
    height: 110px;
    padding-left: 12px;

}
.Recently_Viewed ul li{
    float: left;
    padding: 3px;
}


.filmBody{
    padding-bottom: 20px;
}

.artsList{
    padding: 40px;
    color: #333;
}

.artsList li{
    margin: 5px;
    padding: 5px;
    width: 438px;
    height: 120px;
    float: left;
    list-style: none;
    border: 1px solid #CCC;
    border-radius: 5px;

}
.artsList li:hover{

    background-color: #f7f7f7;
    border: 1px dashed #CCC;
    border-radius: 5px;
}



.artsList img{
    width: 90px;
    height: 115px;
    border-radius: 5px;
    padding: 2px;
}
.artsList div{
    overflow: hidden;
    float: left;
    font-family: "Microsoft YaHei", "微软雅黑";
}
.artsList h3{
    padding:8px;
    display: inline-block;
    font-size: 18px;


}
.artsList h3 span{
    font-size: 14px;
    padding: 0 5px;
}
.artsList h3 a{
    color: #559ee7;
}

.artsList p{
    width: 320px;
    margin-left: 15px;
    line-height: 18px;
    text-align: left;
    font-size: 12px;
    border-bottom: 1px dashed #DDD;
}





